## REQUIRED LIBRARIES

In [4]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 


import pickle 
import json 

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
from sklearn.metrics import multilabel_confusion_matrix

## PROBLEM STATEMENT

In [ ]:
The numeric parameters which the dataset contains are Sepal width, Sepal length, Petal width and Petal length. 
In this data we will be predicting the classes of the flowers based on these paramete

SepalLengthCm

SepalWidthCm

PetalLengthCm

PetalWidthCm

Species

In [ ]:
input_features=[SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm]

target_feature=Species

## DATA GATHERING

In [25]:
df=pd.read_csv('iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

## EDA

In [26]:
df.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [ ]:
there are no null values in df

In [27]:
df.drop('Id',1,inplace=True)

C:\Users\abhij\AppData\Local\Temp\ipykernel_16300\740360531.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop('Id',1,inplace=True)

In [28]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [29]:
#encoding  in target column as there are nominal data in target columns
df['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [30]:
df['Species'].value_counts().to_dict()

{'Iris-setosa': 50, 'Iris-versicolor': 50, 'Iris-virginica': 50}

In [31]:
df['Species'].replace({'Iris-setosa':1, 'Iris-versicolor':2, 'Iris-virginica':3},inplace=True)

In [34]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0              5.1           3.5            1.4           0.2        1
1              4.9           3.0            1.4           0.2        1
2              4.7           3.2            1.3           0.2        1
3              4.6           3.1            1.5           0.2        1
4              5.0           3.6            1.4           0.2        1
..             ...           ...            ...           ...      ...
145            6.7           3.0            5.2           2.3        3
146            6.3           2.5            5.0           1.9        3
147            6.5           3.0            5.2           2.0        3
148            6.2           3.4            5.4           2.3        3
149            5.9           3.0            5.1           1.8        3

[150 rows x 5 columns]

In [35]:
x=df.drop('Species',axis=1)
y=df["Species"]

In [64]:
#data splitting for testing and training
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=20,test_size=0.3,stratify=y)

In [65]:
x_train.shape

(105, 4)

In [66]:
x_test.shape

(45, 4)

In [67]:
y_train.shape

(105,)

In [68]:
y_test.shape

(45,)

## MODEL TRAINING

In [69]:
model=LogisticRegression(max_iter=200)
model.fit(x_train,y_train)

LogisticRegression(max_iter=200)

In [70]:
model.score(x_train,y_train)

0.9809523809523809

In [71]:
model.score(x_test,y_test)

0.9777777777777777

In [75]:
model.predict([[5.1,3.5,1.4,0.2]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [76]:
#model pickle file 
with open('model.pkl','wb') as file:
    pickle.dump(model,file)

In [82]:
d={"columns":['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm'],
  "result_values":{'Iris-setosa':1, 'Iris-versicolor':2, 'Iris-virginica':3}}
with open("asset.json",'w') as file:
    json.dump(d,file)

In [81]:
df.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')